@charset "UTF-8";

.clearfix{
  content: "";
  display: block;
  clear: both;
}

.header{
  background-color: #fff;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.inner{
  margin: 0 auto;
  width: 1100px;
}

.header_inner{
  display: flex;
  padding: 15px;
}

.bolt{
  font-size: 2.5em;
  width: 25px;
}

.contact_button{
  background-color: #74cfae;
  text-align: center;
  margin: 0 0 0 auto;
  width: 84px;
}

.contact{
  color: #fff;
  font-family: Lato;
  font-size: 12px;
  padding: 14px 12px;
}

.contact:hover{
  color: #333;
  transition: 0.3s;
}

.main{
  padding-top: 70px;
}

.title{
  background-color: #f2f2f2;
  height: 640px;
  margin: 0 auto;
}

.maintitle{
  color: #74cfae;
  font-family: Raleway;
  font-size: 90px;
  font-weight: 700;
  padding-top: 250px;
  text-align: center;
}

.subtitle{
  color: #c0c0c0;
  font-family: Raleway;
  font-size: 30px;
  padding-bottom: 250px;
  text-align: center;
}

.what_we_can_do{
  background-color: #74cfae;
  height: 345px;
}

.what_we_can_do__inner{
  display: flex;
}

.iphone{
  padding-top: 50px;
}


.what_we_can_do__text{
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  margin: 0 0 0 auto;
  text-align: center;
}

.what_we_can_do__title{
  color: #fff;
  font-family: Raleway;
  font-size: 24px;
  padding-bottom: 35px;
  padding-top: 100px;
  text-align: center;
}

.our_latest_work{
  background-color: #f2f2f2;
  height: 1017px;
}

.our_latest_work__title{
  color: #333;
  font-family: Raleway;
  font-size: 24px;
  padding-bottom: 40px;
  padding-top: 60px;
  text-align: center;
}

.our_latest_work__picture{
  display: flex;
  flex-wrap: wrap;
}

.picture{
  opacity: 0.7;
  margin-left: 100px;
  margin-bottom: 80px;
}

.picture:nth-child(3n+1){
  margin-left: 0;
}

.picture:hover{
  opacity: 1;
  transition: 0.3s;
}

.our_latest_work__text_n_button{
  display: flex;
  font-family: Lato;
  justify-content: center;
  padding-bottom: 70px;
  padding-top: 10px;
}

.our_latest_work__text{
  color: #333;
  padding-right: 90px;
  text-align: center;
  width: 500px;
}

.email_me__button{
  background-color: #74cfae;
  height: 40px;
  text-align: center;
  width: 108px;
}

.email_me{
  color: #fff;
  font-size: 12px;
  padding: 14px 20px;
}

.email_me:hover{
  color: #333;
  transition: 0.3s;
}

.our_skills{
  background-color: #4e4e4e;
  height: 400px;
}

.our_skills__title{
  color: #fff;
  font-family: Raleway;
  font-size: 24px;
  padding-bottom: 45px;
  padding-top: 70px;
  text-align: center;
}

.circles{
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.circle{
  padding-left: 180px;
}

.circle:first-child{
  padding-left: 0px;
}

dl{
  display: flex;
  justify-content: center;
}

dt{
  color: #fff;
  display: flex;
  font-family: Lato;
  font-size: 16px;
  padding: 10px;
}

.sns_rinks{
  background-color: #f2f2f2;
  height: 500px;
}

.sns_buttons{
  margin: 0 auto;
}

.sns_button{
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
  display: block;
  float: left;
  height: 100px;
  margin-top: 200px;
  text-align: center;
  width: 185px;
}

.sns_button:hover{
  background-color: #fff;
  transition: 0.3s;
}

.sns{
  color: #74cfae;
  display: block;
  font-size: 3em;
  margin: 0 auto;
  padding: 25px;
}

.footer{
  background-color: #74cfae;
  height: 55px;
}

.footer_text{
  color: #fff;
  font-family: Lato;
  margin: 0 0 0 auto;
  padding: 20px 0 25px 0;
  text-align: center;
  width: 300px;
}

